/*CLASES REUTILIZABLES*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #373B47;
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

/*estilos del header*/

.img-size {
  height: 70px;
  width: 70px;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.margin-top-96px {
  margin-top: 96px;
}
/*estilos de section class=container*/

.bg-image {
  background-image: url(../assets/images/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.secondary-title--styles {
  font-size: 1.4em;
  font-weight: bold;
}

.principal-title--styles {
  font-size: 3em;
  font-weight: 900;
}

#button {
  background-color: #2ecc71;
  border: none;
  color: #ffffff;
  height: 45px;
  width: 150px;
}

#button:hover {
  background-color: #3dd37cc9;
  cursor: pointer;
  transition: 0.5s 0.5s;
}

/* estilos de section class=services*/

.bg-pink {
  background-color: #f17c72;
  padding: 87px 0;
}

.service-title-size {
  font-size: 2.2em;
  font-weight: bolder;
}

.paragraph-size {
  font-size: 1em;
  line-height: 2em;
  font-weight: bold;
}


.service-image--size {
  width: 180px;
  height: 180px;
}

.service-item-size {
  font-size: 0.8em;
  font-weight: 900;
  line-height: 1.5em
}

/*estilos de section class=work*/

.work-title-styles {
  font-size: 2.2em;
  font-weight: bolder;
}

.work-paragraph-styles {
  color: #424242;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.8em;

}

.work-image-size {
  width: 80%;
  height: 80%;
}


.image-galery-size {
  width: 90%;
}

/*estilos del footer*/

.bg-footer {
  background-color: #373b47;
  padding: 20px ;
} 

/*HELPERS CLASSES */
.mt-20 {
  margin-top: 20px
}

.margin-40-0 {
  margin: 40px 0;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.weight-bolder {
  font-weight: bolder;
}

.margin-0-50 {
  margin: 0 3.2em
}

.padding-0-50 {
  padding: 0.8em 2.5em;
}

.padding-right-100px {
  padding-right: 100px;

}

.mt-70px {
  margin-top: 70px;
}

.pb-70px {
  padding-bottom: 70px;
}